@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Lato";
  box-sizing: border-box;


}
body{
    overflow-x: hidden;
}
header{
   
    width: 100%;
  
}
                 
                    /* ------------------------------------------------------------------------------------ */

           /* NAvBar */
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: #424155;
}
.logo{
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    color: rgba(240, 248, 255, 0.849);
    font-weight: 700;
    transition: 0.5s;
   
}
.logo:hover{
    text-shadow: 2px 2px 2px;
    font-weight: bold;
    color: rgb(212, 212, 212);
}
.nav-list{
    margin: 0 20px;
}
.nav-item{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 0 5px;
    background-color: #ffffff7e;
    padding: 5px 5px;
    transition: background 0.3s;
    cursor: pointer;
}
.nav-item:hover{
    background-color: #ffffffb2;
}
                /* Main */
main{
    width: 100%;
    height: auto;
}
                
                    /* ------------------------------------------------------------------------------------ */

                           /* Hero Section  */
.hero{
    width: 90%;
    margin:10px auto;
    height: 70vh;
}
.hero-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    background: rgba(196, 196, 196, 0.404);

}
.text{
    animation:  animateText 2s;
}
.text>h1{
    color: #6C63FF;
    font-size: 30px;
    font-weight: bolder;
}
.text>p{
    font-size: 14px;
    font-weight: normal;
}
.btn{
    color: aliceblue;
    background: #6C63FF;
    border: none;
    padding: 8px 15px;
    margin: 5px 0px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 10px 0  0 ;
}
.hero-content>img{
 width: 400px;
 height: 500px; 
 animation:animate 2s ;   
}
   
                    /* ------------------------------------------------------------------------------------ */

                             /* Products  */
.latest-deals{
    width: 95%;
    margin: 10px auto;
    height: auto;
    
} 
.latest-deals>h3{
    color: #6C63FF;
    font-weight: bold;
    font-size: 25px;
}   
.products-box{
    width: 90%;
     height: auto;
    margin: 15px auto;
   
   display: grid;
   grid-template-columns: repeat(4, minmax(23%, 4fr)); 
   /* justify-content: center;   */
   gap: 40px; /* Adjust spacing */
   padding: 20px;
  

  }      
.shopping-card{
    width: 250px;
    height: 300px;
   border: 1px solid rgba(173, 169, 169, 0.685);
   box-shadow: 8px 2px 2px rgba(218, 217, 217, 0.514),-8px -2px 2px rgba(218, 217, 217, 0.514);
    position: relative;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
.shopping-card:hover{
    transform: scale(1.1);
}
.shop-img{
    width: 100%;
    height: 100%;
}
.shopbtn{
 position:absolute;
 top:85%;
 left:30%;
 /* right: 50%; */
 bottom: 10%;
 opacity: 0.7;
 transition: 0.5s ease-in-out;
 
 width: 100px;
 height: 30px;
 text-align: center;
}
.shopbtn:hover{
    opacity: 1;
}
.btn-1{
    width: 100px;
    height: 30px;
    border: 2px solid #424155;
    background-color: transparent;
    color: #6C63FF;
    font-weight: bold;
    transition:  all 0.4s ease-in;
    cursor: pointer;
   margin: 5px 50%; 
}
.btn-1:hover{
    background: #6C63FF;
    color: white;
    border: 2px solid #6C63FF;
}

                        /* ------------------------------------------------------------------------------------ */


/* Product Page Section Contetn */
.Product-content{
    width: 95%;
    height: 85vh;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 2px 2px rgb(202, 202, 202),-8px -2px 2px rgb(202, 202, 202);
}
.product-image{
    width: 50%;
    height: 95%;
    margin: 2px;


}
.product-text{
    width: 50%;
    height: 95%;
   
    margin: 5px;
    padding: 10px;
}
.product-text>h5{
   
 font-weight: bold;
 font-size: 14px;
 padding: 5px 2px;
 
}   
.product-text>h5>span{
    border: 1px solid #4c489c;
    background: #4c489c;
    color: aliceblue;
    padding: 3px;
    margin: 0 5px;
    font-weight:600;
    border-radius: 5px;

}
.product-tittle{
    padding: 5px 80px;
}
.description{
    font-weight: normal;
    overflow: hidden;
}
                   /* ------------------------------------------------------------------------------------ */


/* Cart Section Page */
.cartspan{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.Description{
    width: 30%;
}
.cardbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cartCard{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    align-items: center;
    
}
.product-details{
    width: 30%;
    display: flex;
}
.cart-img{
    border: 1px solid gray;
    width: 55%;
}


/* About us section */

#aboutus{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-image{
    width: 50%;

}
.about-text{
    padding: 0 10px;
}
.about-text>h1{
    color: #3F3D56;
    font-weight: bolder;
}

/* ------------------------------------------------------------------------------------ */
/* Coatact Us section */
#contactus{
display: flex;
justify-content: center;
align-items: center;
width: 90%;
height: 100vh;
flex-direction: row-reverse;
}
form{
    width: 80%;
    height: 65vh;
}
.form{
    border: 1px solid gray;
   width: 90%;
   height: 100%;
   margin:0 auto ;
   
    box-shadow: 12px 2px 2px whitesmoke;
    padding: 50px;
}
#contactus>img{
    width: 40%;
}
.form>label>input,textarea{
border: 1px solid #6C63FF;
width: 200px;
height: 35px;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}
input[type="submit"]{
   padding: 5px 15px;
   color: #585394;
   font-weight: bold;
   border: 1px solid #6C63FF;
   border-radius: 10px;
   margin: 10px 0;
   cursor: pointer; 
}

/* Footer */
.footer{
    width: 100%;
    height: auto;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    padding: 10px 0;
    background: #544facde;
    color: whitesmoke;
}
.footer>div{
    
    width: 20%;
}

.fotter-tittle>p{
padding: 10px;

font-weight: normal;
font-size: 14px;
}
.footer-links>ul{
    list-style: none;
  
}
.footer-links>ul>li>a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    line-height: 1.5rem;
    padding-left: 5px;
    transition: textdecoration 0.5s;
}
.footer-links>ul>li:hover{
    text-decoration: underline;
}
.socail-links{
    height: 5vh;
    width: 100%;
    background: #000;
    color: white ;
    display: flex;
    justify-content:flex-end;
    align-items: center;
/* padding: 0 2px; */
}
.socail-links>i{
    margin: 5px 10px;
    font-size: 20px;
}

                    /* ------------------------------------------------------------------------------------ */

/* Responsiveness */
@media (max-width:480px){
    nav{
        height: 30vh;
        flex-direction:column ;
        align-items: center;
        justify-content: center;
    }
    .nav-list{
        margin: 10px 0;
    }
    
.nav-item{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0 5px;
    background-color: #ffffff7e;
    padding: 5px 5px;
    transition: background 0.3s;
    cursor: pointer;
}
    /* hero */
    .hero{
        width: 90%;
        height: 80vh;
    }
    .hero-content{
        width: 100%;
        height: 80vh;
        justify-content: center;
        padding: 0 20px;
        flex-direction:row-reverse;
    }
    .text{
        padding-left: 20px;
        width: 50%;
    }
    .hero-content>.text>h1{
        font-size: 20px;
    }
    .hero-content>img{
        width: 150px;
        height: 350px;
        animation: none;   
    }
    /* products */
    .products-box{
        width: 100%;
        grid-template-columns: repeat(1,minmax(33%,1fr));
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0 15%;
        
    }
    .btn-1{
        margin: 0 35%;
    }
    .Product-content{
        flex-direction: column;
        height: auto;
    }
    .product-image{
        width: 100%;
    }
    .product-text{
        width: 90%;
    }
    .product-tittle{
        width: 100%;
        padding: 0 5px;
    }
    #aboutus{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 10px 0;
    }
    .about-image{
        width: 100%;
    }
#contactus{
flex-direction: column-reverse;
height: auto;
}
form{
    width: 100%;
    height: 80vh;
}
.form{
    width: 95%;
    margin: 0 auto;
}
#contactus>img{
    width: 100%;
}

/* footer */
.footer{
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.footer>div{
    width: 60%;
    padding-left: 8px;
}
.socail-links{
    height:10vh;
}

}
                    /* ------------------------------------------------------------------------------------ */


/* animations */
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateX(150px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}@keyframes animateText {
    0%{
        opacity: 0;
        /* transform: translateX(-50px); */
    }
    100%{
        opacity: 1;
        /* transform: translate(0px); */
    }
}